//변수정의 scss는 _vars.scss로 지음

$main-color: #ed1c24;
$font-color: #111;
$sub-color: #ccc;

$font-extralarge: 64px;
$font-large: 48px;
$font-title: 38px;
$font-medium: 28px;
$font-sub: 15px;
$font-small: 12px;
